.fixed {
  position: fixed;

  top:    4rem;
  left:   2rem;
  bottom: 2rem;

  width: 10rem;

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 2;
}

.scrollable-left {
  outline: 2px dashed red;
  left: 14rem;
}

.scrollable-right-parent {
  float:       left;
  margin-left: 26rem;
  margin-top:  5rem;
  padding:     5rem;
  width:       10rem;
  height:      50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
  outline:     2px dotted blue;
}

.scrollable-right {
  overflow-x:  hidden;
  overflow-y:  auto;
  height:      calc(100vh - 4rem);
  outline:     2px dashed red;
}

.scrollable-body {
  text-align: right;
}

#ember-testing-container {
  position: absolute !important;
}

#ember-testing-container .fixed {
  position: absolute;
}

.group {
  position: relative;
}
